html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid black;
}
h2{
  font-style: italic;
  color: brown;
  font-size: 40px;
}
h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}